<div class="done">
   
  </div>
  <div class="project_task">
   <p><%= @project_task.content %></p>
   <p><%= project_task.deadline %></p>
   <% project_task.file.each do |file|  %> 
    <%= link_to file.filename, file %>
    <% end %>
  </div>