
//remove old validation messages
$(".notice").remove();
 
//display new validation messages
<% @project_task.errors.full_messages.each do |message| %>
$('#helpBlock').append("<div class='notice' style='color:red;'><%= escape_javascript(message)%></div>");
<% end %>